*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(115,130,156);
    background: linear-gradient(180deg, rgba(115,130,156,1) 0%, rgba(161,171,181,1) 30%, rgba(204,177,130,1) 90%, rgba(193,110,60,1) 100%);
    background-attachment: fixed;
}

.trees {
    width: 100%;
    position: fixed;
    bottom: 0;
}