*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-size: 100%;
}

.night-time {
    background: rgb(3,21,35);
    background: linear-gradient(180deg, rgba(3,21,35,1) 0%, rgba(18,55,84,1) 25%, rgba(31,93,142,1) 60%, rgba(151,182,203,1) 100%);
    background-attachment: fixed;
}

.early-sunrise {
    background: rgb(0,23,53);
    background: linear-gradient(180deg, rgba(0,23,53,1) 0%, rgba(38,77,131,1) 49%, rgba(255,210,118,1) 91%, rgba(255,164,0,1) 100%);
    background-attachment: fixed;
}

.light-day-time {
    background: rgb(115,130,156);
    background: linear-gradient(180deg, rgba(115,130,156,1) 0%, rgba(161,171,181,1) 30%, rgba(204,177,130,1) 90%, rgba(193,110,60,1) 100%);
    background-attachment: fixed;
}

.pleasant-day-time {
    background: rgb(69,112,157);
    background: linear-gradient(180deg, rgba(69,112,157,1) 0%, rgba(108,158,188,1) 55%, rgba(152,181,160,1) 81%, rgba(206,214,163,1) 100%);  
    background-attachment: fixed;
}

.vivid-sunset {
    background: rgb(66,43,68);
    background: linear-gradient(180deg, rgba(66,43,68,1) 0%, rgba(161,66,78,1) 40%, rgba(255,119,45,1) 70%, rgba(253,192,2,1) 100%);
    background-attachment: fixed;
}

.btn-grp {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-grp button {
    font-size: 2em;
    background: rgb(255 255 255 / 21%);;
    border-radius: 50%;
    border: none;
    transition: background 200ms
}

.btn-grp button:hover {
    background: rgb(255 255 255 / 35%);

}

.btn-grp svg {
    margin: 6px auto;
    display: block;
}

.btn-grp .move-up-svg {
    margin: 2px auto 10px auto;
}

.trees {
    width: 100%;
    position: fixed;
    bottom: 0;
}

/*** HOME ***/
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

}

.home h1 {
    margin: 0;
    font-size: 5.5em;
    line-height: 1;
}

/*** NAVIGATION ***/
.menu {
    position: fixed;
    bottom: 0;
    display: flex;
    list-style: none;
    z-index: 5;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: rgb(73, 94, 151);
    padding: 4px;
}

.menu a:hover, .menu a.active {
    background-image: url(./watercolour-backgrounds/link-bd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.menu li {
    margin: 0 1em .3em;
    font-size: 1.35em;
}

/*** WATERCOLOUR CONTAINER ***/
.watercolour-container {
    /* background-color: rgb(217, 121, 74); */
    background-image: url(./watercolour-backgrounds/div-bd5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(73, 94, 151);
    margin: 2rem auto;
    width: 70%;
    padding: 5%;
}

h2 {
    font-size: 3em;
    margin: 0;
    line-height: 1;
    text-align: center;
}

h3 {
    font-size: 1.7em;
    margin: 0;
}

p {
    font-size: 1.25em;
    margin: .5em 0;
    line-height: 1.15;
}

a {
    text-decoration: none;
    color: rgb(73, 94, 151);
}

.watercolour-container a:hover {
    text-decoration: underline;
}

.bio, .tech-skills, .about-skills, .blog-card {
    background: rgba(255, 255, 255, .70);
}

/*** ABOUT ***/
.about-me {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
        "resume bio"
        "skills skills";
    padding-bottom: 6em;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

}

.about-me img {
    width: 100%;
    border-radius: 12px;
}

.bio, .tech-skills, .about-skills {
    padding: 1em;
}

.bio {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 5px 0 0 0;
}

.tech-skills {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 0 5px 0 0;
}

.about-skills {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-radius: 0 0 5px 5px;
}

.icon-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .15em;
    border-radius: 5px;
    transition: box-shadow .3s;
}

.icon-and-name:hover {
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.icon-and-name:hover .icon-name {
    opacity: 1;
}

.icon-name {
    font-size: .5em;
    opacity: 0;
    transition: opacity .3s;
}

.about-me .skill-icons {
    font-size: 2em;
}

/*** PROJECTS ***/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 6em;
}

.project-card {
    width: 15em;
    height: 17em;
    margin: .45em;
    perspective: 1000px;
}

.project-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.project-card-inner.is-flipped {
    transform: rotateY(180deg)
}

.card-face-front, .card-face-back {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: .25em;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    background: rgba(255, 255, 255, .70);
    border-radius: 5px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card-face-back {
    transform: rotateY(180deg);
    justify-content: space-evenly;
}

.project-card img {
    width: 100%;
}

.links, .skill-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.55em;
}

.links {
    flex-direction: column;
    align-items: center;
}

/*** BLOGS ***/
.blogs-container {
    padding-bottom: 6em;
}

.blog-card {
    display: grid;
    grid-template-columns: auto 85%;
    grid-template-rows: auto;
    margin: .35em 0;
    padding: .35em;
    border-radius: 5px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.blog-img {
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: .35em;
}

.blog-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.blog-info {
    padding: 0.25em 0.25em 0;
}

.blog-card h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.3em;
    line-height: 1;
    font-weight: 500;
}

.blog-card-data {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.blog-card-data p {
    font-size: 1em;
}

.blog-card p {
    margin: 0 0 .07em;
    line-height: 1;
}

.blog-card-data + p {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.tags {
    display: flex;
    margin-left: .5em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.tag {
    padding: .15em .15em 0em;
    margin: .15em;
    background: #6d6dbd63;
    line-height: 1;
}

/*** CONTACT ***/
.call-to-action {
    font-size: 1.75em;
    text-align: center;
}
.link-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3%;
}

.link-icons a {
    margin: 0 3%;
    font-size: 2.25em;
    text-decoration: none;
    color: rgb(73, 94, 151);
}

.link-icons span {
    padding: 5px;
}

.link-icons svg {
    vertical-align: -0.125em;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    padding-bottom: 6em;
    width: 80%;
    margin: auto;
}

input, textarea {
    border: 1px solid rgb(73, 94, 151);
    background: rgb(199 198 198 / 23%);
    color: rgb(73, 94, 151);
    font-size: 1em;
    padding: 5px;
    font-family: 'Ariel', sans-serif;
    border-radius: 3px;
}

textarea {
    height: 6em;
}

/*** MEDIA QUERIES ***/
@media (max-width: 1024px) {
    .menu {
        background-color: black;
    }
    .trees {
        bottom: 1em;
    }
    .watercolour-container {
        width: 80%
    }
}

@media (max-width: 768px) {
    .link-icons a {
        font-size: 1.75em;
    }
    .tech-skills {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .about-me {
        row-gap: .35em;
        box-shadow: none;
    }
    .bio, .tech-skills, .about-skills {
        border-radius: 5px;
        box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    }
    .bio {
        grid-column: 1 / 3;
    }
    .bio h3 {
        text-align: center;
    }
    .bio img {
        display: block;
        margin: auto;
    }
    .blog-card {
        grid-template-columns: auto;
    }
}

@media (max-width: 425px) {
    .trees {
        bottom: 1.5em;
    }
    .home h1 {
        font-size: 4em;
    }
    .link-icons span {
        display: none;
    }
    .link-icons a {
        font-size: 2em;
    }
    h2 {
        font-size: 2.5em;
    }
    .menu li {
        margin: 0 .5em;
    }
    .watercolour-container {
        width: 100%;
        padding: 7%;
        padding-top: 10%;
    }
    .blog-img {
        display: none;
    }
    .blog-card h3 {
        grid-column: 1 / 3;
        font-weight: 400;
    }
    .blog-card-data {
        align-items: flex-end;
        flex-direction: column;
    }
    .blog-card-data + p {
        display: none;
    }
}

@media (max-width: 320px) {
    .watercolour-container {
        padding-top: 15%;
        margin: 1rem auto;
    }
}